import Lg{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Lg{{properCase name}}',
  component: Lg{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Lg{{properCase name}} },
  template: `
    <div>
      <lg-{{name}}></lg-{{name}}>
    </div>
  `
})